*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.parent{
    height: -webkit-fill-available;
}
nav{
    height: 100vh;
    overflow: hidden;
    width: 250px;
    background-color: purple;
    scrollbar-width: 10px;
}
nav .logo{
    text-align: center;
}
nav .h1{
    text-align: center;
    font-size: 20pt;
    font-weight: normal;
    color: white;
}
nav .links{
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}
nav .links button{
    height: 40px;
    border: unset;
    margin: 2px 0;
    font-size: 14pt;
    font-weight: normal;
    background: rgb(156, 20, 156);
    color: whitesmoke;
    outline: none;
    text-align: left;
    padding: 0 50px;
}
nav .links .panel{
    background: rgb(121, 21, 121);
    margin: -8px 0;
    display: flex;
    flex-direction: column;
    padding: 0 12px 0 12px;
    border: 1px solid goldenrod;
    display: none;
}
nav .links .panel button{
    margin: -0px 0;
    outline: none;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 20px;
    display: block;
    width: 100%;
}
nav .links .panel button:last-child{
    margin-bottom: 10px;
}
.show-scroll{
    overflow-y: scroll;
    scrollbar-width: 10px;
}
nav::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border: unset;
    border: 1px solid goldenrod;
}
nav::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 10px;
    border: 2px solid gold;
}